header {
  text-align: center;
}

body {
  display: block;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Calibri;
  background-color: #ebf7ff;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  border: solid #2f0076 5px;
  border-radius: 50px;
  background-color: #6600ff;
  font-size: 28px;
  color: white;
  box-shadow: 1px 3px 3px 1px #62859d;
}

div {
  text-align: center;
  margin-bottom: 10px;
}

.grilla {
  display: grid;
  width: 500px;
  grid: auto / auto auto auto;
  grid-gap: 10px;
  padding: 2px;
  text-align: center;
  font-size: 16px;
}

article {
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f0076;
}

li {
  float: left;
  border-right: 1px solid #ebf7ff;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #6600ff;
  transition: 0.4s
}

.active {
  background-color: #ff6600;
}

.avatar {
  width: 95px;
}

.ejercicio {
  background-color: #ff6600;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.ejercicio:hover {
  background-color: #ff944d;
  box-shadow: 0px 5px 5px 0px #62859d;
  transition: 0.4s
}

footer {
  text-align: center;
  margin-top: 50px;
  font-family: Calibri;
}
