header {
  text-align: center;
  margin-top: 20px;
}

body {
  display: block;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Calibri;
  background-color: #fef6bb;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #b50128;
}

h1 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid #0a28fc 6px;
  font-size: 28px;
  color: #fc0a2a;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 40%;
  border-top: double #0a28fc 6px;
  border-bottom: double #0a28fc 6px;
  font-size: 22px;
  color: #fc0a2a;
}

div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grilla {
  display: grid;
  width: 100%;
  grid-template-columns: auto 220px;
  grid-gap: 30px;
  padding: 2px;
  text-align: center;
  font-size: 16px;
}

article {
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b50128;
}

li {
  float: left;
  border-right: 1px solid #fef6bb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #fc0a2a;
  transition: 0.4s
}

.active {
  background-color: #fcdc0a;
  color: black;
}

.arrow {
  text-decoration: none;
}

aside {
  background-color: #b50128;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

aside a {
  background-color: #fcdc0a;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 120px;
}

aside a:hover {
  background-color: #fef2a5;
  box-shadow: 0px 5px 5px 0px #690117;
  transition: 0.4s
}

footer {
  text-align: center;
  margin-top: 50px;
  font-family: Calibri;
}
