@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant;
}

html,
body {
    height: 100%;
    background-color: #fef6bb;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 220px 1fr 1fr 220px 50px;
  grid-gap: 10px;
}

.titulo {
  font-family: Acme;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #b50128;
  border-bottom: solid #0a28fc 3px;
  border-top: solid #0a28fc 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.arrow {
  text-decoration: none;
}

p {
  margin: 10px 0px 10px;
}

@media (min-width: 730px) {
  .banner {
    height: 220px;
  }

  .imagen {
    width: 50%;
  }

  body {
    display: grid;
    grid-template-areas: "header header aside"
                          "nav main main"
                          "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 220px 1fr 50px;
    grid-gap: 5px;
  }

  body > nav {
    grid-area: nav;
    background-color: #b50128;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }

  .enlace {
    width: 140px;
    height: 50px;
    margin: 4px 2px;
    padding: 15px 10px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #fc0a2a;
    color: white;
    text-decoration: none;
    display: inline-block;
  }
  
  .enlace:hover {
    background-color: #fd566c;
    transition: 0.4s;
  }
  
  .active {
    width: 140px;
    height: 50px;
    margin: 4px 2px;
    padding: 15px 10px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #fcdc0a;
    color: black;
    text-decoration: none;
    display: inline-block;
  }

  body > aside {
    grid-area: aside;
    background-color: #b50128;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: column-reverse;
  }

  aside > p {
    margin: 5px;
  }
}

@media (max-width: 730px) {
  .banner {
    height: 30vw;
    margin-top: 25px;
  }

  .imagen {
    width: 89vw;
    align-content: center;
  }

  body > nav {
    grid-area: nav;
    background-color: #b50128;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }

  .enlace {
    width: 97%;
    height: 50px;
    margin: 4px 2px;
    padding: 15px 10px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #fc0a2a;
    color: white;
    text-decoration: none;
    display: inline-block;
  }
  
  .enlace:hover {
    background-color: #fd566c;
    transition: 0.4s;
  }
  
  .active {
    width: 97%;
    height: 50px;
    margin: 4px 2px;
    padding: 15px 10px;
    border-radius: 25px;
    font-size: 14px;
    background-color: #fcdc0a;
    color: black;
    text-decoration: none;
    display: inline-block;
  }

  body > aside {
    grid-area: aside;
    background-color: #b50128;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }

  aside > p {
    margin: 5px;
  }
}

@media (max-width: 450px) {
  .banner {
    height: 40vw;
    margin-top: 40px;
  }
}

body > header {
  grid-area: header;
  text-align: center;
}

body > main {
  grid-area: main;
  padding: 10px;
}

h1 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid #0a28fc 6px;
  font-size: 28px;
  font-family: Acme;
  color: #fc0a2a;
}

h2 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid #0a28fc 3px;
  border-bottom-style: dotted;
  font-size: 22px;
  font-family: Acme;
  color: #fc0a2a;
}

ul {
  margin-left: 30px;
}

body > footer {
  grid-area: footer;
  text-align: center;
  padding: 10px;
}

fieldset {
  margin-top: 15px;
}

legend {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px;
}

label, input, select {
  margin-left: 10px;
}

[type=submit] {
  padding: 5px 30px;
  margin: 4px 4px;
}
