header {
  text-align: center;
}

body {
  display: block;
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Calibri;
  background-color: #ebf7ff;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 60%;
  border: solid #2f0076 5px;
  border-radius: 50px;
  background-color: #6600ff;
  font-size: 28px;
  color: white;
  box-shadow: 1px 3px 3px 1px #62859d;
}

div {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

article {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.boton {
  background-color: #ff6600;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.tema {width: 55px;}
.proyecto {width: 120px;}
.examen {width: 95px;}

.tema:hover, .proyecto:hover, .examen:hover {
  background-color: #ff944d;
  box-shadow: 0px 5px 5px 0px #62859d;
  transition: 0.4s
}

.index {
  border: none;
  decoration: none;
  color: white;
  text-decoration: none;
  background-color: #6600ff;
  padding: 15px 20px;
  font-size: 16px;
}

.index:hover {
  background-color: #944dff;
  box-shadow: 0px 5px 5px 0px #62859d;
  transition: 0.4s
}

footer {
  text-align: center;
  margin-top: 50px;
  font-family: Calibri;
}
